/* GENERAL CSS */

body {
  overflow: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(104, 194, 219);
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  overscroll-behavior: none;
  touch-action: none;
}

/* SCROLL CSS */

p {
  overflow-wrap: break-all;
  word-wrap: break-word;
}

.scroll {
  position:absolute;
  white-space: nowrap;
  height: 100vh;
  width: 700vh;
  z-index: 2;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

#bottomGrouping {
  bottom: 0;
  left: -5vw;
  position: absolute;
  background-color: black;
  height: 10vh;
  width: 110vw;
  z-index: 3;
}

.progress {
  position: absolute;
  z-index: 3;
  margin-left: 10%;
  margin-right: 10%;
  top: 45%;
  width: 80%;
}

.control {
  position: absolute;
  margin-left: 40%;
  margin-right: 40%;
  bottom: 2rh;
  color: white;
  align-self: center;
  text-align: center;
  border-radius: 10%;
  width: 10%;
  top: 10%;
  font-size: 3vh;
  font-family: monospace;
}

#infoTop {
  top: 0rem;
  z-index: 1;
}

.infoBox {
  position: absolute;
  float:left;
  vertical-align: top;
  background-color: rgba(255, 255, 255, 0.496);
  border-radius: 5%;
  z-index: 1;
  margin: auto;
  margin-top: 2vh;
  overflow-wrap: break-word;
  flex-direction: column;
  text-wrap: wrap;
  padding: 1rem;
  margin-right: 50rem;
  align-content: center;
  top: 5vh;
}

#title {
  left: 10vw;
  top: 10vh;
  font-weight: bolder;
  font-size:10vh;
}

#generalFacts {
  left: 105vw;
  width: 20rem;
}

#habitats {
  left: 205vw;
  width: 30rem;
}

#diets {
  left: 305vw;
  width: 20rem;
}

#threats {
  left: 405vw;
  width: 40rem;
}

#facts {
  left: 505vw;
  width: 30rem;
}

#references {
  left: 605vw;
  width: 20rem;
}

/* WATER CSS */

.waterImage {
  height: 60rem;
  width: auto;
}
.water {
  position: absolute;
  height: 5rem;
  left: -150vw;
  z-index: 0;
}
#waterLayer0 {
  top: 37vh;
}
#waterLayer1 {
  left: -180vw;
  top: 39vh;
}
#waterLayer2 {
  left: -130vw;
  top: 42vh;
}
#waterLayer3 {
  top: 46vh;
}
#waterLayer4 {
  top: 52vh;
}
#waterLayer5 {
  top: 58vh;
}
#waterLayer6 {
  top: 65vh;
}
#waterLayer7 {
  left: -130vw;
  top: 69vh;
}
#waterLayer8 {
  left: -170vw;
  top: 75vh;
}
#waterLayer9 {
  top: 81vh;
}
#underwater {
  left: -5rem;
  top: 40%;
  background-image: linear-gradient(to bottom, rgba(18, 67, 124, 0.318), rgba(2, 2, 36, 0.914));
  height: 200rem;
  width: 200rem;
}

/* NARWHAL CSS */

#mainSubject {
  position: absolute;
  top: 34vh;
  height: fit-content;
  width: fit-content;
}
#narwhalSwim{
  height: 55vh;
  width: auto;
}

#child1 {
  position: absolute;
  top: 70%;
  left: 40%;
  /* align-self: center; */
  /* margin: auto; */
  height: fit-content;
  width: fit-content;
}
#narwhalSwim1{
  height: 15rem;
  width: auto;
}

/* FISH CSS */

.fish {
  position: absolute;
  left: 130vw;
}

#fishSwim1 {
  height: 15rem;
  left:-50vw;
  width: auto;
}

#fishSwim2 {
  height: 10rem;
  top: 30vh;
  left:-50vw;
  width: auto;
}

#fishSwim3 {
  height: 20rem;
  top: 40vh;
  width: auto;
}

#fishSwim4 {
  height: 15rem;
  top: 60vw;
  width: auto;
}

/* RESPONSIVE SCREEN */

@media (max-width: 800px) {
   body {
    font-size: 13px;
   }
   #mainSubject {
    left: -40vw;
   }
   #child1 {
    left: 20vw;
   }
   #narwhalSwim {
    height: 17rem;
   }
   #narwhalSwim1 {
    height: 10rem;
   }
   #threats {
    width: 20rem;
   }
   #habitats {
    width: 18rem;
   }
   #facts {
    width: 19rem;
   }

   #fishSwim1 {
    height: 10rem;
  }
  
  #fishSwim2 {
    height: 5rem;
  }
  
  #fishSwim3 {
    height: 15rem;
  }
  
  #fishSwim4 {
    height: 10rem;
  }
}

@media (max-width: 1000px) and (min-width:600px) {
   body {
    font-size: 13px;
   }
   #mainSubject {
    top: 25vh;
    left: -10vw;
   }
   #child1 {
    /* top: 60vh; */
    left: 40vw;
   }
   #narwhalSwim {
    height: 20rem;
   }
   #narwhalSwim1 {
    height: 12rem;
   }
}

@media (max-height: 400px) and (max-width: 800px) {
   body {
    font-size: 10px;
   }
   #mainSubject {
    left: -70vw;
   }
   #child1 {
    left: 10vw;
   }
    .infoBox {
      padding:  2px 10px 2px 10px;
    }
   #threats {
    top: 2vh;
    width: 28rem;
   }
   #habitats {
    width: 18rem;
   }
   #facts {
    width: 20rem;
   }

   #fishSwim1 {
    height: 10rem;
  }
  
  #fishSwim2 {
    height: 5rem;
  }
  
  #fishSwim3 {
    height: 15rem;
  }
  
  #fishSwim4 {
    height: 10rem;
  }
}